---
import { TProjectBlocks } from "../../types/TProject";
import ContentBlock from "./ContentBlock.astro";
import TitleBlock from "../blocks/TitleBlock.astro";
import ImageBlock from "../blocks/ImageBlock.astro";

const ContentBlockMap: Record<TProjectBlocks['type'], any> = {
    "empty": null,
    "title": TitleBlock,
    "image": ImageBlock,
    "text": null,
};

interface Props {
    blocks: TProjectBlocks[];
}

const { blocks } = Astro.props;
---

<div class="content">
    { blocks.map((block) => (
        <ContentBlock
            width={block.size.width}
            height={block.size.height}
            type={block.type}>
            { ContentBlockMap[block.type] ? () => {
                const Block = ContentBlockMap[block.type];
                return <Block {...(typeof block.content === 'object' ? block.content : {})} />
            } : null }
        </ContentBlock>
    )) }
</div>

<style lang="scss">
    @use "easy-theme" as theme;

    .content {
        $gridSize: 10rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($gridSize, 1fr));
        grid-auto-rows: minmax($gridSize, 1fr);
        border-collapse: collapse;
        grid-gap: theme.Variable('border-thickness');
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        // @include theme.NotMobile {
        //     :global(.contentBlock) {
        //         transition: 0.3s ease;
        //     }

        //     &:hover {
        //         :global(.contentBlock) {
        //             opacity: 0.6;
                    
        //             &:nth-child(2n - 1) {
        //                 opacity: 0.7;
        //             }

        //             &:nth-child(2n) {
        //                 opacity: 0.8;
        //             }
                    
        //             &:hover {
        //                 opacity: 1;
        //             }
        //         }
        //     }
        // }

        @include theme.Mobile {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: unset;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
</style>