---
import { UseProject } from "../../lib/Projects.lib";
const { t, project, id, anchor } = UseProject(Astro.props.id);
---

<div>
	{ t('name') }
	{ project('name') }

	<a href={anchor}>Click Me</a>

	<div class="drawer" id={id}>
		<p>Hello</p>

		<a href="#">Quit</a>
	</div>
</div>
