@import '@vm/mobile';

.c-pi-paragraph {
    padding: var(--padding);
    padding-bottom: 0;

    @include mobile {
        padding: var(--padding);
        padding-bottom: 0;
    }

    &__header {
        margin: 0;
        margin-bottom: .25rem;
        font-weight: 600;
        font-size: 1.25rem;
    }

    &__text {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        text-align: justify;
    }
}