<span class="c-navbar-shade" [ngClass]="{ 'show': mobileShown }" (click)="toggleMobileDrawer(false)"></span>

<nav class="c-navbar" [ngClass]="{ 'closed': !!selectedProject, 'open': mobileShown }" #navbar>
    <img class="c-navbar__image" src="/assets/img/nav-spiral.png" alt="Spiral Accent Image">

    <span class="c-navbar__header">
        <app-banner></app-banner>
    </span>

    <ol class="c-navbar__list">
        <li (interaction)="toggleMobileDrawer()" tabindex="0" id="selectedProject" class="c-navbar__list__item active selected">
            <app-navbar-burger [isBack]="true"></app-navbar-burger>
            {{ selectedProject?.name }}
        </li>
        <li (interaction)="selectPage(page)" tabindex="0" class="c-navbar__list__item" *ngFor="let page of pages"
            [ngClass]="{ 'active': page == currentPage }">
            {{ page.label}}
        </li>
    </ol>

    <span class="c-navbar__copy">
        <span class="c-navbar__copy__social">
            <a href="https://www.linkedin.com/in/haydn-comley/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/haydncomley/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/haydncomley" target="_blank"><i class="fab fa-github"></i></a>
        </span>
        Copyright {{ thisYear }} © Haydn Comley
    </span>
</nav>
<nav class="c-navbar-mobile" [ngClass]="{ 'slim': slim || slimPage }">
    <span class="c-navbar-mobile__banner">
        <app-banner [ngClass]="{ 'hidden': backButton || slimPage }"></app-banner>
        <app-banner [ngClass]="{ 'hidden': !backButton }" [header]="selectedProject?.name"
            [subtitle]="selectedProject?.short_desc" [center]="selectedProject">
        </app-banner>
        <app-banner [ngClass]="{ 'hidden': !slimPage }" [header]="navDetails?.header" [subtitle]="navDetails?.subtitle"
            [center]="navDetails?.center">
        </app-banner>
    </span>
    <app-navbar-burger [isBack]="backButton" (click)="toggleMobileDrawer()"></app-navbar-burger>
</nav>