@include useTheme('Dark') {
    background-color: black;
    color: white;

    .drawer {
        background-color: #333;
        color: white;

        @include useNotSelected() {
            display: none;
        }

        a {
            color: green;
        }
    }
}