@import '@vm/mobile';

.c-pi-columns {
    padding: var(--padding);
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-small);

    &.center {
        align-items: center;
    }

    @include mobile {
        padding: var(--padding);
        padding-bottom: 0;
        display: grid;
        gap: var(--padding);
    }
}