$size: 4rem;
$transition: .35s ease;

.c-burger {
    height: var(--burger-height,  2rem);
    width: var(--burger-width,  2.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: $transition;

    &.back {
        transform: translateX(50%);
    }

    &__line {
        width: 100%;
        height: var(--burger-line-height,  12%);
        background: var(--burger-color, rgba(var(--theme-background-contrast), 1));
        border-radius: 0 1rem 1rem 0;
        transform-origin: 0 50%;
        transition: $transition;

        &:nth-child(1) {
            position: absolute;
            top: 0%;
        }

        &:nth-child(2) {
        }

        &:nth-child(3) {
            position: absolute;
            top: 100%;
            transform: translateY(-100%);
        }

        .back & {
            &:nth-child(1) {
                transform: translateY(-30%) rotateZ(-40deg);
                width: 40%;
                top: 50%;
                border-radius: 1rem;
            }

            &:nth-child(2) {
                border-radius: 1rem;
            }

            &:nth-child(3) {
                transform: translateY(-70%) rotateZ(40deg);
                width: 40%;
                top: 50%;
                border-radius: 1rem;
            }
        }
    }
}