.format-bold {
    font-weight: 600;
    
    &--accent {
        color: rgba(var(--project-primary));

        @supports (-webkit-background-clip: text) {
            color: rgba(var(--theme-background-contrast), 1);
            background: linear-gradient(to bottom right, rgba(var(--project-primary), 1), rgba(var(--project-secondary), 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &--block {
        white-space: pre-wrap;
        color: rgba(var(--project-contrast));
        background: linear-gradient(to bottom right, rgba(var(--project-primary)), rgba(var(--project-secondary)));
        padding: 0 .25em;
    }

    &--quiet {
        font-weight: normal;
        font-size: .8em;
        color: rgba(var(--theme-background-contrast), .5);
    }
}