// Colors
$default-bg-color: rgba(var(--theme-background-end));
$default-dot-color: rgba(var(--theme-background-end-contrast));

// Dimensions
$default-dot-size: 1px;
$default-dot-space: 10px;



@mixin dot_matrix($bg-color: $default-bg-color, $dot-color: $default-dot-color, $dot-size: $default-dot-size, $dot-space: $default-dot-space) {
    background:
    linear-gradient(-90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
    background-size: $dot-space $dot-space;
    @content;
}

@mixin grid($bg-color: $default-bg-color, $dot-color: $default-dot-color, $dot-size: $default-dot-size, $dot-space: $default-dot-space) {
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        @include dot_matrix($bg-color, $dot-color, $dot-size, $dot-space);
        z-index: -1;
        pointer-events: none;
        @content;
    }
}