:root {
    // Theme Settings
    --theme-background: 255, 255, 255;
    --theme-background-contrast: 30, 30, 30;
    --theme-shadow: rgba(0, 0, 0, .2);

    --padding: 2rem;
    --padding-small: 1rem;

    @media (prefers-color-scheme: dark) {
        --theme-background: 20, 20, 20;
        --theme-background-contrast: 255, 255, 255;
        --theme-shadow: rgba(0, 0, 0, .3);

        color: rgba(var(--theme-background-contrast));
    }
}