@import '@vm/mobile';
$padding: 2rem;
$height: 13rem;
$heightMobile: 10rem;
$paddingMobile: 1rem;
$hovertransition: 1s ease;

@keyframes paneIn {
    0% {
        // height: 0;
        opacity: 0;
        padding: 0 $padding;
        width: 0%;
    }
    100% {
        // height: $height;
        padding: $padding;
        opacity: 1;
        width: 100%;
    }
}

.c-pane {
    width: 100%;
    padding: $padding;
    background: linear-gradient(to right, rgba(var(--project-main)), rgba(var(--project-sub)));
    box-sizing: border-box;
    height: $height;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0,0,0, .2);
    user-select: none;
    transition: .2s ease;
    
    @include mobile {
        padding: $paddingMobile;
        height: $heightMobile;
        border-radius: $paddingMobile $paddingMobile 0 0;
        margin-top: -$paddingMobile;

        &.pop {
            .c-pane__art {
                transform: translateX(-25%) rotateZ(-5deg);
                opacity: .5;
            }
    
            .c-pane__highlight {
                opacity: .2;
            }
    
            .c-pane__details {
                color: rgba(var(--project-contrast));
            }
        }
    }

    &:hover {
        cursor: pointer;

        .c-pane__art {
            transform: translateX(-10%) rotateZ(5deg);
            opacity: .5;
        }

        .c-pane__highlight {
            opacity: .5;
        }

        .c-pane__details {
            transform: translateX(1rem);
            color: rgba(var(--project-contrast));
        }
    }

    &__highlight {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, transparent, white);
        opacity: 0;
        pointer-events: none;
        transition: $hovertransition;
    }

    &__art {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 20rem;
        transform: translateX(-20%);
        opacity: .2;
        pointer-events: none;
        transition: $hovertransition;
        transform-origin: 50% 50%;

        @supports (mix-blend-mode: soft-light) {
            mix-blend-mode: soft-light;
            opacity: 1;
          }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transform: scale(1.5);
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-left: 1.5rem;
        position: relative;
        color: rgba(var(--project-contrast));

        @include not_mobile {
            transition: $hovertransition;
        }

        &__name {
            font-size: 1.5rem;
            color: inherit;
            font-weight: 600;
            margin: 0;
            white-space: nowrap;
        }

        &__short {
            font-size: 1rem;
            color: inherit;
            font-weight: 300;
            margin: 0;
            white-space: nowrap;
        }
    }
}