@import '@vm/mobile';
$padding: 2rem;
$height: 13rem;
$heightMobile: 10rem;
$paddingMobile: 1rem;
$hovertransition: 1s ease;

@keyframes paneIn {
    0% {
        opacity: 0;
        padding: 0 $padding;
        width: 0%;
    }
    100% {
        padding: $padding;
        opacity: 1;
        width: 100%;
    }
}

.c-pane {
    width: 100%;
    padding: $padding;
    // background: linear-gradient(to right, rgba(var(--project-main)), rgba(var(--project-sub)));
    background: radial-gradient(circle at top left, rgba(var(--project-main)), rgba(var(--project-sub)));
    box-sizing: border-box;
    height: $height;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0,0,0, .2);
    user-select: none;
    transition: .2s ease;
    
    @include mobile {
        padding: $paddingMobile;
        padding-bottom: calc(#{$paddingMobile} * 2);
        height: $heightMobile;
        border-radius: $paddingMobile $paddingMobile 0 0;
        margin-top: -$paddingMobile;

        &.pop {
            .c-pane__art {
                transform: translateX(-25%) rotateZ(-5deg);
                opacity: .5;
            }
    
            .c-pane__highlight {
                opacity: .2;
            }
    
            .c-pane__details {
                color: rgba(var(--project-contrast));
            }
        }
    }

    @include not_mobile {
        &:hover, &:focus {
            cursor: pointer;
            outline: none;
    
            .c-pane__art {
                transform: translateX(-10%) rotateZ(5deg);
                opacity: .5;
            }

            .c-pane__particles {
                opacity: .5;
            }
    
            .c-pane__highlight {
                opacity: .3;
            }
    
            .c-pane__details {
                transform: translateX(1rem);
                color: rgba(var(--project-contrast));
            }
    
            .c-pane__details__time {
                right: 4rem;

                app-navbar-burger {
                    opacity: 1;
                    right: -2.5rem;
                }
            }
    
            .c-pane__details__tags {
                margin-right: 2rem;
            }
        }
    }

    &__particles {
        position: absolute;
        right: 0;
        top: 0;
        width: 75%;
        height: 100%;
        opacity: 0;
        transition: $hovertransition;
        object-fit: cover;
        pointer-events: none;
        z-index: 2;

        @include mobile {
            display: none;
        }
    }

    &__highlight {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, transparent, rgba(255, 255, 255, .75));
        opacity: 0;
        pointer-events: none;
        transition: $hovertransition;
        z-index: 1;
    }

    &__art {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 20rem;
        transform: translateX(-20%);
        opacity: 1;
        pointer-events: none;
        transition: $hovertransition;
        transform-origin: 50% 50%;
        z-index: 3;

        @include mobile {
            z-index: auto;
            transform: translateX(-30%);
            opacity: .6;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transform: scale(1.5);

            @include mobile {
                transform: scale(1.5);
            }
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
        position: relative;
        color: rgba(var(--project-contrast));
        z-index: 5;

        @include not_mobile {
            transition: $hovertransition;
        }

        &__name {
            font-size: 1.5rem;
            color: inherit;
            font-weight: 600;
            margin: 0;
            white-space: nowrap;
            
            display: flex;
            align-items: center;

            .c-pane-live-badge {
                margin-left: .5rem;
            }
            
            
        }

        &__short {
            font-size: 1rem;
            color: inherit;
            font-weight: 300;
            margin: 0;
            white-space: nowrap;
            color: rgba(var(--project-contrast), .8);
        }

        &__tags {
            margin-top: .5rem;
            padding-top: .5rem;
            border-top: 1px solid rgba(255, 255, 255, .2);
            transition: margin-right $hovertransition;
            overflow: auto;
            white-space: nowrap;

            app-chip {
                margin-right: .25rem;
            }
        }

        &__time {
            color: inherit;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(calc(-50% + -0.2rem));
            font-size: .8rem;
            opacity: .75;
            transition: right $hovertransition;
            display: flex;
            align-items: center;
            pointer-events: none;

            app-navbar-burger {
                --burger-height: 1rem;
                --burger-width: 1rem;
                --burger-line-height: 2px;
                display: inline-block;
                position: absolute;
                right: -1rem;
                opacity: 0;
                transform: rotateZ(180deg);
                --burger-color: rgba(var(--project-contrast));
                align-items: center;
                transition: $hovertransition;

                @include mobile {
                    display: none;
                }
            }
        }
    }
}

@keyframes glow {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

.c-pane-live-badge {
    padding: 0.3rem 0.4rem;
    background-color: #141414;
    color: white;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    font-weight: 400;
    margin-left: 0.5rem;
    display: block;
    transition: .1s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        display: none;
    }

    > span {
        height: .2rem;
        width: .2rem;
        border-radius: 50%;
        background-color: currentColor;
        margin-left: .4rem;
        animation: glow 1s ease infinite;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: .1s ease;

        app-navbar-burger {
            position: absolute;
            transform: rotateZ(180deg) scale(0.3);
            left: -50%;
            pointer-events: none;
            opacity: 0;
            transition: .2s ease;
        }
    }

    &:hover, &:focus {
        cursor: pointer;
        outline: none;
        transform: scale(1.05);

        > span {
            animation-play-state: paused;
            opacity: 1 !important;
            width: 1rem;
            background-color: transparent;
    
            app-navbar-burger {
                opacity: 1;
                left: -40%;
            }
        }
    }
}