.c-image-background {
    height: 100%;
    width: 100%;
    background: var(--image-background, rgba(var(--theme-background-contrast), .1));
    position: absolute;

    img {
        left: 0;
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}