---
import { changeLanguage, t } from "i18next";
import Layout from "../layouts/Layout.astro";
import DashboardTitle from "../components/DashboardTitle.astro";
import ThemesSetup from "../components/core/ThemesSetup.astro";
import ThemeSelection from "../components/core/ThemeSelection.astro";
import { Projects } from "../lib/Projects.lib";

changeLanguage("en");
---

<Layout title={t('name')}>
	<ThemesSetup />
	<main>
		<ThemeSelection />
		<div class="body">
			<DashboardTitle />
			{ Projects.map(async (project) => {
				const Project = (await import(`../components/projects/${project}.astro`)).default;
				return <Project id={project} />
			}) } 
		</div>
	</main>
</Layout>
