---
import { changeLanguage, t } from "i18next";
import Layout from "../layouts/Layout.astro";

import Navigation from "../components/common/Navigation.astro";
import NavigationMenu from "../components/common/NavigationMenu.astro";

import LandingSection from "../components/sections/Landing.astro";

changeLanguage("en");
---

<Layout title={t('pageTitle')}>
	<Navigation />
	<NavigationMenu />

	<main>
		<LandingSection></LandingSection>
	</main>
</Layout>

<style lang="scss">
	main {
		margin: 0;
		height: 100%;
		display: flow-root;
		scroll-behavior: smooth;

		font-family: "Outfit", sans-serif;
		font-optical-sizing: auto;
		font-weight: 300;
		font-style: normal;

		perspective: 1px;
		transform-style: preserve-3d;
		overflow-x: hidden;
		overflow-y: visible;

		&::-webkit-scrollbar {
			width: .2rem;
			background: var(--contrast);
		}
		
		&::-webkit-scrollbar-track {
			background: var(--contrast);
		}
		
		&::-webkit-scrollbar-thumb {
			background: var(--background);
			border-left: var(--border);
		}
	}
</style>