.app {
    display: flex;
    overflow: hidden;
    height: 100vh;
    
    app-navbar {
        z-index: 10;
    }

    &__pages {
        overflow: auto;
        flex: 1;
        height: 100%;
    }
}