@import '@vm/mobile';

.app {
    display: flex;
    overflow: hidden;
    height: 100vh;
    max-width: 1920px;
    margin: auto;
    box-shadow: 0 0 5rem 0 rgba(var(--theme-background-contrast), .1);

    @include mobile {
        flex-direction: column;
        position: absolute;
        height: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    
    app-navbar {
        z-index: 10;
    }

    &__pages {
        overflow: auto;
        flex: 1;
        height: 100%;
        position: relative;
        background: rgba(var(--theme-background), 1);
        scroll-behavior: smooth;

        @include mobile {
            height: auto;
        }
    }
}