---
import { Projects, UseProject } from "../lib/Projects.lib";
import Link from "./Link.astro";
import Button from "./Link.astro";

interface Props {
    id: typeof Projects[number];
    actionable?: boolean;
}

const { project, id } = UseProject(Astro.props.id);
---

<div class="preview" id={id}>
    { project('name') }

    <Link href="#" label="Back"></Link>
</div>