---
import { Projects, UseProject } from "../lib/Projects.lib";
import ProjectSplash from "./ProjectSplash.astro";

interface Props {
    id: typeof Projects[number]
}

const { project, id } = UseProject(Astro.props.id);
---

<div class="project" id={`card-${id}`}>
    <ProjectSplash id={Astro.props.id} actionable />
</div>