---
import { Projects, UseProject } from "../lib/Projects.lib";
import Button from "./Link.astro";

interface Props {
    id: typeof Projects[number];
    actionable?: boolean;
}

const { project, anchor, id } = UseProject(Astro.props.id);
---

<div class="project-splash">
    <h3 class="project-splash__name">{ project('name') }</h3>
    <p class="project-splash__desc">{ project('description') }</p>

    <div class="project-splash__tags">
        <span class="tag">React Native</span>
        <span class="tag">C#</span>
    </div>

    { Astro.props.actionable && (
        <div class="project-splash__actions">
            <Button href={anchor} label="Read More" />
        </div>
    ) }
</div>