@import '@vm/mobile';

.c-pi-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 12.5rem;
    position: relative;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    color: var(--project-item-color, rgba(var(--project-contrast), 1));

    &.slim {
        min-height: 7rem;
    }

    @include mobile {
        padding: 3rem 2rem;
        height: auto;

        &.slim {
            padding: 2rem 2rem;
        }
    }

    app-image-background {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        --image-background: linear-gradient(to bottom right, rgba(var(--project-primary)), rgba(var(--project-secondary)));
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        @include mobile {
            align-items: center;
            text-align: center;
        }
    }

    &__text {
        position: relative;
        z-index: 1;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
        margin-bottom: -.5rem;
        padding: 0;

        @include mobile {
            margin-bottom: -.25rem;
        }
    }

    &__sub {
        position: relative;
        z-index: 1;
        width: 100%;
        margin: 0;
        margin-top: .25rem;
        opacity: .6;
        padding: 0;

        @include mobile {
            width: 90%;
        }
    }
}