---
import { ViewTransitions } from 'astro:transitions';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<ViewTransitions />
		
		<!-- Details -->
		<title>{title}</title>
		<meta name="description" content="Astro description">

		<!-- Links & Media -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss">
    @use "easy-theme" as theme;

	@import '../../styles/_normalize.scss';

	$light-theme: (
        'primary': (#30e384, #f6f4f0, true),
        'red': (#e33052, #f6f4f0, true),
        'orange': (#f74848, #f6f4f0, true),
        'yellow': (#f0d74b, #f6f4f0, true),
        'green': (#99d84e, #f6f4f0, true),
        'turquoise': (#30e384, #f6f4f0, true),
        'cyan': (#4ed8cd, #f6f4f0, true),
        'blue': (#6a73e3, #f6f4f0, true),
        'indigo': (#934ceb, #f6f4f0, true),
        'violet': (#c86ae3, #f6f4f0, true),
    );

    $variables: (
		'radius': .2rem,
        'spacing': .75rem,
        'border-thickness': .75rem,
        'border': theme.Variable('border-thickness') solid theme.Contrast('primary'),
    );

    @include theme.UseTheme((
        light: $light-theme,
        variables: $variables,
		steps: (
			'dark': 15%,
			'darker': -45%
		)
    ));

	@font-face {
		font-family: "Teachers";
		src: url('/fnt/Teachers-Regular.otf');
		font-weight: 400;

	}

	@font-face {
		font-family: "Teachers";
		font-weight: 500;
		src: url('/fnt/Teachers-SemBd.otf');
	}

	@font-face {
		font-family: "Teachers";
		font-weight: 600;
		src: url('/fnt/Teachers-ExtraBold.otf');
	}

	html, body {
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		overflow: hidden;
		font-family: "Teachers", serif;
	}

	:global(::selection) {
		background: theme.Contrast('primary');
		color: theme.Color('primary');
	}
</style>