---
import ContentBlock from "./ContentBlock.astro";

interface Props {
}

const { } = Astro.props;
---

<div class="content">
    <ContentBlock width={1}></ContentBlock>
    <ContentBlock height={2}></ContentBlock>
    <ContentBlock height={1} width={2}></ContentBlock>
    <ContentBlock height={3} width={2}></ContentBlock>
</div>

<style lang="scss">
    @use "easy-theme" as theme;

    .content {
        $gridSize: 10rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax($gridSize, 1fr));
        grid-template-rows: repeat(auto-fill, minmax($gridSize, 1fr));
        border-collapse: collapse;
        grid-gap: theme.Variable('border-thickness');
        overflow: auto;

        @include theme.Mobile {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: unset;
        }
    }
</style>