---
interface Props {
    href: string;
    label: string;
    index: number;
}

const { href, label, index } = Astro.props;
---

<li class='navMenuItem'>
    <a href={ '#' + href }>
        0.{ index + 1 }

        <span>
            { label }
        </span>
    </a>
</li>

<style lang="scss">
    @use "easy-theme" as theme;

    .navMenuItem {
        transition: .3s ease;
        border-left: var(--border);
        position: relative;
        display: flex;
        align-items: center;
        white-space: nowrap;
        background-color: var(--background);
        overflow: hidden;
    }
</style>