---
interface Props {
    href: string;
    label: string;
    index: number;
}

const { href, label, index } = Astro.props;
---

<li class='navItem' id={ href }>
    <a href={ '#' + href }>
        0.{ index + 1 }

        <span>
            { label }
        </span>
    </a>
</li>

<style lang="scss" define:vars={{ index: `${(index * 0.05) }s` }}>
    @keyframes softBlink {
        0% {
            opacity: .8;
        }
        50% {
            opacity: .2;
        }
        100% {
            opacity: .8;
        }
    }

    body:has(#menu:checked) {
        .navItem {
            opacity: 0;
            pointer-events: none;
        }
    }
    .navItem {
        transition: .3s var(--index) ease;
        border-left: var(--border);
        position: relative;
        display: flex;
        align-items: center;
        white-space: nowrap;
        background-color: var(--background);
        overflow: hidden;
        
        a {
            position: relative;
            text-decoration: none;
            margin: 0;
            padding: var(--padding);
            color: var(--contrast);
            display: grid;
            grid-template-columns: auto 0fr;
            transition: var(--transitionSlow);
            z-index: 1;

            &::before {
                position: absolute;
                content: '';
                left: 25%;
                right: 75%;
                opacity: 0;
                bottom: 50%;
                height: 1px;
                background-color: var(--contrast);
                transform: translateY(.5em);
                transition: var(--transition);
            }
        }
        
        span {
            overflow: hidden;
            transition: var(--transitionSlow);
            color: var(--background);
            position: relative;
            transform: translateX(-100%);

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: .2em;
                height: .2em;
                border-radius: 50%;
                transform: translate(0%, 0%);
                background-color: var(--background);
                transition: var(--transition);
                transition-delay: .4s;
                animation: softBlink 2s ease infinite;
            }
        }
        
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 0%;
            background-color: var(--contrast);
            transition: var(--transitionSlow);
        }

        &:not(&:target):hover {
            a {
                &::before {
                    right: 25%;
                    opacity: 1;
                }
            }
        }
        
        &:target, &:nth-child(1):not(:has(~ .navItem:target)) {
            &::before {
                width: 100%;
            }
            
            a {
                color: var(--background);
                grid-template-columns: auto 1fr;
            }
            
            span {
                margin-left: .5rem;
                padding-left: .5rem;
                transform: translateX(0);
            }
        }
    }


</style>