<div class="navMenu">

</div>

<style lang="scss">
    .navMenu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 0%;
        background-color: var(--contrast);
        pointer-events: none;
        transition: var(--transitionSlow);
        z-index: 5;
    }

    body:has(#menu:checked) {
        .navMenu {
            height: 100%;
        }
    }
</style>