---
import { navItems } from '../../lib/Pages.lib';
import NavigationMenuItem from './NavigationMenuItem.astro'
---

<div class="navMenu" id="menuSheet" tabindex="0">
    <ul class="navMenuItems">
        { navItems.map((item, index) => (
            <NavigationMenuItem {...item} index={index}></NavigationMenuItem>
        )) }
    </ul>
</div>

<style lang="scss">
    @use "../../styles/lib/helpers" as helpers;

    @include helpers.showMenu() {
        .navMenu {
            transform: translateY(0%);
            pointer-events: all;
        }
    }
    
    .navMenu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--contrast);
        color: var(--background);
        pointer-events: none;
        z-index: 5;
        transform: translateY(-100%);
        transition: var(--transitionSlow);
    }

    .navMenuItems {
        list-style: none;
        margin: auto;
    }
</style>