---
import NavigationItem from './NavigationItem.astro'
import NavigationButton from './NavigationButton.astro'

type NavItemProps = Omit<Parameters<typeof NavigationItem>[0], 'index'>;

const navItems = [
    {
        label: 'Haydn Comley',
        href: ''
    },
    {
        label: 'About',
        href: 'about'
    },
    {
        label: 'Contact',
        href: 'contact',
    },
] as const satisfies NavItemProps[];
---

<nav class="nav">
    <div>
    </div>

    <ul class="navLinks">
        { navItems.map((item, index) => (
            <NavigationItem {...item} index={index}></NavigationItem>
        )) }

        <NavigationButton></NavigationButton>
    </ul>
</nav>

<style lang="scss">
    .nav {
        border-bottom: var(--border);
        display: flex;
        justify-content: space-between;
        z-index: 10;
        position: sticky;
        top: 0;
        background-color: var(--background);
        transition: var(--transitionSlow);
    }
    
    body:has(#menu:checked) {
        .nav {
            background-color: var(----contrast);
        }
    }

    .navLinks {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
</style>