---
import { t } from "i18next";
---

<nav class="nav">
    <div>
    </div>

    <ul class="nav__items">
        <li class="nav__items__link" id="welcome">
            <a href="#welcome">
                H.1

                <span class="nav__items__link__desc">
                    - Welcome
                </span>
            </a>
        </li>
        
        <li class="nav__items__link" id="another">
            <a href="#another">
                H.2

                <span class="nav__items__link__desc">
                    - About
                </span>
            </a>
        </li>

        <li class="nav__items__link" id="something">
            <a href="#something">
                H.3

                <span class="nav__items__link__desc">
                    - Contact
                </span>
            </a>
        </li>

        <button class="nav__items__link nav__items__burger">
            
        </button>
    </ul>
</nav>