<span class="navBurgerWrapper">
    <div class="navBurger" id="menuBurger" tabindex="0">
        <span class="navBurgerRow">
            <span class="navBurgerDot"></span>
            <span class="navBurgerDot"></span>
            <span class="navBurgerDot"></span>
        </span>
        <span class="navBurgerRow">
            <span class="navBurgerDot"></span>
            <span class="navBurgerDot"></span>
            <span class="navBurgerDot"></span>
        </span>
        <span class="navBurgerRow">
            <span class="navBurgerDot"></span>
            <span class="navBurgerDot"></span>
            <span class="navBurgerDot"></span>
        </span>
    </div>
</span>

<style lang="scss">
    $size: 2.8rem;
    $dotSize: 4px;
    $gap: $dotSize;
    $gapClose: 2px;

    .navBurgerWrapper {
        position: relative;
    }

    .navBurger {
        position: relative;
        height: $size;
        width: $size;
        background-color: var(--contrast);
        transition: var(--transitionSlow);
        display: flex;
        gap: $gap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;

        &:focus {
            background-color: red;
        }
        
        #menu:not(:focus) ~ &:hover {
            gap: 0;
            background-color: var(--secondary);
            
            .navBurgerRow {
                gap: 0;
                
                &:nth-child(1) {
                    .navBurgerDot {
                        &:nth-child(1), &:nth-last-child(1) {
                            background-color: transparent;
                        }
                    }
                }

                &:nth-last-child(1) {
                    .navBurgerDot {
                        &:nth-child(1), &:nth-last-child(1) {
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        #menu:focus ~ & {
            gap: 0;
            background-color: var(--primary);

            .navBurgerRow {
                gap: 0;
                transform: rotateZ(-360deg);

                &:nth-child(1) {
                    .navBurgerDot {
                        &:nth-child(2) {
                            background-color: transparent;
                        }
                    }
                }

                &:nth-child(2) {
                    .navBurgerDot {
                        &:nth-child(1), &:nth-last-child(1) {
                            background-color: transparent;
                        }
                    }
                }

                &:nth-last-child(1) {
                    .navBurgerDot {
                        &:nth-child(2) {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    .navBurgerRow {
        display: flex;
        gap: $gap;
        transition: var(--transitionSlow);
    }
    
    .navBurgerDot {
        height: $dotSize;
        width: $dotSize;
        background-color: var(--background);
        transition: var(--transitionSlow);
        border-radius: 25%;
    }
</style>