---
interface Props {
    color:  'red' |
            'orange' |
            'yellow' |
            'green' |
            'cyan' |
            'turquoise' |
            'blue' |
            'indigo' |
            'violet';
}

const { color } = Astro.props;
---

<div class:list={['project', color]} tabindex="0">
</div>

<style lang="scss">
    @use "easy-theme" as theme;

    .project {
        $height: calc(theme.Variable('spacing') * 7);
        display: flex;
        width: calc(100% - (theme.Variable('spacing') * 2));
        height: $height;
        margin-top: calc(theme.Variable('border-thickness') * -1);
        overflow: hidden;
        box-sizing: border-box;
        border: theme.Variable('border');
        border-left: none;
        background-color: theme.Color('primary');
        color: theme.Contrast('primary');
        border-radius: 0 $height $height 0;
        transition: width 0.2s ease;
        flex-shrink: 0;

        @include theme.Mobile {
            width: calc(100%);
            border-right: none;
            border-radius: 0;
            margin-top: 0;
            border-top: none;

            &:last-of-type {
                border-bottom: none;
                height: calc(theme.Variable('spacing') * 6);
            }
        }

        &.red {
            background-color: theme.Color('red');
            color: theme.Contrast('red');
        }

        &.orange {
            background-color: theme.Color('orange');
            color: theme.Contrast('orange');
        }

        &.yellow {
            background-color: theme.Color('yellow');
            color: theme.Contrast('yellow');
        }

        &.green {
            background-color: theme.Color('green');
            color: theme.Contrast('green');
        }

        &.cyan {
            background-color: theme.Color('cyan');
            color: theme.Contrast('cyan');
        }

        &.turquoise {
            background-color: theme.Color('turquoise');
            color: theme.Contrast('turquoise');
        }

        &.blue {
            background-color: theme.Color('blue');
            color: theme.Contrast('blue');
        }

        &.indigo {
            background-color: theme.Color('indigo');
            color: theme.Contrast('indigo');
        }

        &.violet {
            background-color: theme.Color('violet');
            color: theme.Contrast('violet');
        }

        &:hover {
            width: 100%;
            cursor: pointer;
        }
    }
</style>