/* You can add global styles to this file, and also import other style files */
@import "@vm/theme";
@import '@vm/grid';
@import "@vm/fonts";
@import "@vm/formatted";

@import './theme/normal.css';

body {
    background-color: rgba(var(--theme-background), 1);

    @include grid(rgba(var(--theme-background)), rgba(var(--theme-background-contrast)), 1px, 20px) {
        opacity: .5;
    }
}

::selection {
    color: rgba(var(--project-contrast), 1);
    background: rgba(var(--project-primary), .8);
    
    @supports (-webkit-background-clip: text) {
        -webkit-text-fill-color: rgba(var(--project-contrast), 1);
    }
}