---
import "../styles/index.scss";
import i18next from "i18next";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<!-- Meta -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<!-- Details -->
		<title>{title}</title>
		<meta name="description" content="Astro description">

		<!-- Links & Media -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="scss">
    @use "easy-theme" as theme;

	$light-theme: (
        'primary': (#c86ae3, #f6f4f0, true),
        'red': (#e33052, #f6f4f0, true),
        'orange': (#f74848, #f6f4f0, true),
        'purple': (#c86ae3, #f6f4f0, true),
        'blue': (#736ae3, #f6f4f0, true),
        'green': (#30e384, #f6f4f0, true),
    );

    $variables: (
		'radius': .2rem,
        'spacing': .75rem,
        'border': theme.Variable('spacing') solid theme.Contrast('primary'),
    );

    @include theme.UseTheme((
        light: $light-theme,
        variables: $variables,
		steps: (
			'dark': -35%,
			'darker': -50%
		)
    ));
</style>