@import '@vm/mobile';

$dotSize: .5rem;

.c-pi-gallery {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--padding);

    &:hover, &:focus-within {
        outline: none;

        .c-pi-gallery__dots {
            opacity: 1;
        }

        .c-pi-gallery__side {
            opacity: .25;
        }
    }

    img {
        top: 0;
        left: 0;
        width: 100%;
    }

    &__dots {
        position: absolute;
        bottom: 1rem;
        z-index: 1;
        opacity: .5;
        transition: .2s ease;

        @include mobile {
            bottom: .5rem;
        }

        &__item {
            height: $dotSize;
            width: $dotSize;
            border-radius: 50%;
            background-color: rgba(var(--project-primary), .5);
            transition: .15s ease;
            margin: .25rem;
            display: inline-block;

            &:hover, &:focus {
                cursor: pointer;
                background-color: rgba(var(--project-primary), .8);
            }

            &.selected {
                background-color: rgba(var(--project-secondary), 1);
            }
        }
    }

    &__side {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding: var(--padding);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, rgba(var(--theme-background-contrast), .5), transparent);
        opacity: 0;
        transition: .2s ease;

        &__icon {
            transform-origin: 50% 50%;

            app-navbar-burger {
                transform-origin: 50% 50%;
                display: block;
                transform: scale(.75) translateX(-50%);
            }
        }

        &--other {
            left: auto;
            right: 0;
            background: linear-gradient(to left, rgba(var(--theme-background-contrast), .5), transparent);

            .c-pi-gallery__side__icon {
                transform: rotateZ(180deg);
            }
        }

        &:hover, &:focus {
            outline: none;
            opacity: 1 !important;
            cursor: pointer;
        }
    }

    &.setHeight {
        overflow: hidden;
        
        img {
            height: 100%;
        }
    }
}