<div class="c-pi-gallery" [ngClass]="{ 'setHeight': height || maxHeight }"
    [ngStyle]="{ 'height': height, 'max-height': maxHeight }" (mouseenter)="pause()"
    (mouseleave)="play()">
    <ng-container *ngFor="let image of safeImages; let i = index">
        <img *ngIf="i == selected" [ngStyle]="{ 'object-fit': fit, 'object-position': position }" [@swipe]="direction"
            [src]="image">
    </ng-container>

    <span class="c-pi-gallery__side" tabindex="0" (interaction)="nextSlide(-1)" *ngIf="images.length > 1">
        <span class="c-pi-gallery__side__icon">
            <app-navbar-burger [isBack]="true"></app-navbar-burger>
        </span>
    </span>

    <span class="c-pi-gallery__side c-pi-gallery__side--other" tabindex="0" (interaction)="nextSlide(1)"
        *ngIf="images.length > 1">
        <span class="c-pi-gallery__side__icon">
            <app-navbar-burger [isBack]="true"></app-navbar-burger>
        </span>
    </span>
    <span class="c-pi-gallery__dots" *ngIf="images.length > 1">
        <span class="c-pi-gallery__dots__item" *ngFor="let image of safeImages; let i = index" tabindex="0"
            (interaction)="selectPage(i)" [ngClass]="{ 'selected': i == selected }"></span>
    </span>
</div>