@import '@vm/mobile';

.c-pi-break {
    height: var(--padding);
    margin-top: var(--padding);
    background: linear-gradient(to left, rgba(var(--project-primary)), rgba(var(--project-secondary)));

    @include mobile {
        height: var(--padding);
        margin-top: var(--padding);
    }
}